body {
    /* font: ; */
    text-align: center;
    background-color: #EADEB8;
}

h1 {
    text-shadow: 2px 2px 5px #CFB784;
    color: #A09F57;
}

.center {
    margin-left: auto;
    margin-right: auto;
    background-color: #CFB784;
    table-layout: fixed;
    width: fit-content;
    height: fit-content;
}

.cell {
    text-align: center;
    font-size: 1.4em;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    /* display: table-cell;     */
    font-family: Arial, Helvetica, sans-serif;;
}

.timer {
    display: inline-block;
}

button{
    margin: 5px;
    background-color: #C56824;
    font-family: Helvetica;
    
}

.life, .hint {
    display: inline-block;
}

h5 {
    font-family: Arial;
    margin: 0px;
    padding: 5px;
}

.put-mines-message {
    background-color: rgb(192, 134, 57);
    display: none;
    border: 2px dotted yellowgreen;
}

.hide {
    display: none;
}